.container {
  position: relative;
  margin:1rem; 
    border-radius: 2rem;
    display: flex;
    width: 52vh;
    height: 52vh;
    background: #861e1e;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.details{
 /*  margin-left: 200%; */
 border-radius: 8rem;
  display: flex;
  flex-direction: column;
  background-color: rgba(221, 190, 66, 0.4);
  position: absolute;
    width: 45vh;
    height: 45vh;
    /* background: #f0f0f0; */
}
.details  p {
  max-width: 35vh;
  /* margin-left: 1rem; */
  
}
.details h4 {
color: black ;

max-width: vh;
margin-left: 3rem;
}
/* p {
  max-width: 35vh;
}  */
.imgCont{
  border-radius: 8rem;
  position: relative;
  width: 45vh;
  height: 45vh;

}