.container{
    background-color: #cb8665;
    width: 100%;
    min-width: 360px;
    width: 100%;
    max-width: 1400px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    padding: 1em;
   /*  position: relative; */
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
}
.h2{
    text-align: center;
    padding: 1em 0;
}

/* .text{
    display: none;
    
} */
.imagens {
    width: 100%;
  /* max-height: 250px; */
}
.cardContainer {
    display: flex;

     width: 400px;
     height: 250px;
     position: relative;
    flex-direction: row;
    border : solid rgba(59, 163, 17, 0.562) 3px;
    /* width: 300px;
    height: 100px; */
    overflow: hidden;
}
.movement{
    position: absolute;
    width: 1600px;
    display: flex;
    flex-direction: row;
    height: 200px;
    border : solid 4px red;
    scroll-behavior: smooth;
    
};
.buttons {

    width: 34px;
    height: 15;
}
.card{
    display:inline-flex;
    flex-direction: row;
    position:relative;
    width:400px;
    height: 100%;
    border: 1px solid #4e1dff;
    border-radius: 2em;
 
    box-shadow:1px 1px 2px #333;
  
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 
    )
     }
     