
.container{
    background-color: #cb8665;
    width: 100%;
    min-width: 360px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* padding: 1em; */
    
   
}

.card{
        /* justify-content: center; */
        display: flex;
        flex-direction: column;
        padding: 1em;  
   /*  padding: 5em; */
    height: 10rem;
    border: 1px solid #804000;
    border-radius: 2em;
  /*   margin: 1rem ; */
    background-position: center center;
    background-size:cover;
    box-shadow:1px 1px 2px #333;
    background-repeat: no-repeat;
    text-align: center;
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2) 
    )
    }