
.container {
    min-width: 360px;
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background-color: #804000;
}


.card{
    padding: 5em;
    height: 10rem;
    border: 1px solid #804000;
    border-radius: 2em;
    margin: 1em 0;
    background-position: center center;
    background-size:cover;
    box-shadow:1px 1px 2px #333;
    background-repeat: no-repeat;
     }