.container{
    background-color: #c2cfc3;
    width: 70%;
    min-width: 360px;
    width: 30%;
    max-width: 1400px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    padding: 1em;
   /*  position: relative; */
    /* overflow: hidden; */
    align-items: center;
    justify-content: center;
};